<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf表达式</title>
</head>
<body>
<h1>标准变量表达式，语法：${...}</h1>
<h2 th:text="${data}"></h2>

<h1>选择变量表达式或者*号表达式*{...}</h1>
<div th:object="${user}">
    用户编号：<span th:text="*{id}"></span><br/>
    用户姓名：<span th:text="*{username}"></span>
</div>
<h1>标准变量表达式和选择变量表达式的混合使用</h1>
用户编号：<span th:text="*{user.id}"></span><br/>
用户姓名：<span th:text="${user.username}"></span>
</body>
</html>