<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>循环遍历复杂数组集合</title>
</head>
<body>
<div th:each="myListMaps:${myList}">
    <div th:each="myListMap:${myListMaps}">
        key:<span th:text="${myListMap.key}"></span>
<!--        <span th:text="${myListMap.value}"></span>-->
        <div th:each="user:${myListMap.value}">
            <span th:text="${user.id}"></span>
            <span th:text="${user.username}"></span>
            <span th:text="${user.phone}"></span>
            <span th:text="${user.address}"></span>
        </div>
    </div>
</div>
</body>
</html>